.form-search.search-data#search-data
  = text_field_tag :ogsearch_input, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Dish, Chef, Ingredient...", style: "width:300px;"
